<!--The content below is only a placeholder and can be replaced.-->
<body>

  <div class="container">
    <div class="navegacion">
    <h2>EDM ♥</h2>
    <nav class="menu">
        <a href="#noticias">Top Festivales</a>&nbsp;
        <a href="#galeria">Galería</a>&nbsp;
    </nav>
  </div> <!--.navegacion-->
  <div>
    <img src="http://static.tilllate.es/images/news/newmagazine/hp_news_1490111032.jpg"width="1000" height="900">
  </div>
    <div class="background">
        <div class="contenido">
          <h1>Festivales de Musica Electrónica 2019</h1>
          <p></p>
        </div> <!--.contenido-->
    </div> <!--.london-->
  <div id="contenido-principal">
    <h2 class="titulo">FESTIVALS ELECTRONIC MUSIC</h2>
    <div class="noticias" id="noticias">
        <div class="noticia">
            <img src="https://media.resources.festicket.com/www/admin/uploads/images/Tomorrowland_CHoEw5P.jpg"  width="350" height="250">
            <h3>TOMORROWLAND</h3>
            <p>El gigante del dance belga es, sin duda, el emperador de Europa y cada año atrae a amantes de la música electrónica de todo el mundo con sus famosos escenarios, producción visual y un cartel a rebosar de grandes nombres desde EDM hasta hardstyle. El festival ha organizado otros eventos en los cinco continentes, pero la fiesta original en la ciudad de Boom será siempre la más característica.</p>
            <a href="https://www.tomorrowland.com/global/" class="btn">TOMORROWLAND</a>
        </div>
        <div class="noticia">
            <img src="https://media.resources.festicket.com/www/admin/uploads/images/Awakenings_bufzAaz.jpg" width="350" height="250">
            <h3>Awakenings Festival</h3>
            <p>Otro veterano del panorama de festivales de música electrónica europeos. El mítico sello holandés ha celebrado más de 20 años combinando enormes carteles con espectaculares efectos para sus hordas de fans europeos. Los ocho escenarios y dos días de fiesta siempre ponen el centro en las figuras más importantes del tecno.</p>
            <a href="https://www.awakeningsfestival.nl/en/" class="btn">Awakenings Festival</a>
        </div>
        <div class="noticia">
            <img src="https://media.resources.festicket.com/www/admin/uploads/images/Sonar_6CnYChm.jpg" width="350" height="250">
            <h3>Sónar Festival</h3>
            <p>Música electrónica experimental desde un casi inigualable puñado de estilos y géneros. Sónar invade la ciudad de Barcelona (literalmente) durante un fin de semana. Las salas varían desde clubs y pubs hasta azoteas y piscinas y en la ciudad se reúnen profesionales de la industria y fans por igual para ser testigos y disfrutar de las nuevas tendencias y algunos de los nombres más respetados de la música electrónica.</p>
            <a href="https://sonar.es/" class="btn">Sónar Festival</a>
        </div>
        <div class="noticia">
            <img src="https://media.resources.festicket.com/www/admin/uploads/images/UltraEurope_dWl6oro.jpg" width="350" height="250">
            <h3>Ultra Europe</h3>
            <p> Y seguimos en Croacia. La edición europea del reconocido Ultra Music Festival trae a los nombres más importantes del EDM y big-room house a Split durante un fin de semana de producción a gran escala, grandes beats y abundancia de fiestas en barcos y en la playa. Desde su primera edición allá por 2013, el festival ha reunido a cientos de miles de fans del dance de más de 75 países, convirtiendo la fiesta en un gran espectáculo.</p>
            <a href="https://ultramusicfestival.com/" class="btn">Ultra Europe</a>
        </div>
        <div class="noticia">
            <img src="https://d49r1np2lhhxv.cloudfront.net/www/admin/uploads/images/EXITDanceArena.jpg" width="350" height="250">
            <h3>EXIT Festival</h3>
            <p>  Exit Festival se ha convertido en uno de los más conocidos de Europa gracias a su siempre impresionante cartel y alucinante ubicación, una fortaleza del siglo XVIII en la ribera del Danubio. Aunque no se centra exclusivamente en la música electrónica, el escenario Dance Arena del festival es uno de los más famosos del panorama en todo el mundo.</p>
            <a href="https://www.exitfest.org/" class="btn">EXIT Festival</a>
        </div>
    </div> <!--.media-->

</div><!--#contenido-principal -->


<aside class="sidebar">
  <div class="horario">
    <table>
      <caption>Mejores musicas electronicas de esta semana♥!!!</caption>
      <thead>
         <tr>
            <th> Dj y nombre de la música</th>
            <th>Enlace</th>
         </tr>
      </thead>
      <tbody>
          <tr>
            <td> Martin Garrix - Forbidden Voices</td>
            <a href="https://www.youtube.com/watch?v=Zv1QV6lrc_Y">https://www.youtube.com/watch?v=Zv1QV6lrc_Y</a>
          </tr>
          <tr>
            <td>Don Diablo with Jessie J - Brave</td>
            <a href="https://www.youtube.com/watch?v=o3LkricCcWA">https://www.youtube.com/watch?v=o3LkricCcWA</a>
          </tr>
          <tr>
            <td>Ellie Goulding - Sixteen (Don Diablo Remix)</td>
            <a href="https://www.youtube.com/watch?v=bDnWAATGS5Y">https://www.youtube.com/watch?v=bDnWAATGS5Y</a>
          </tr>
          <tr>
            <td>Lucas & Steve - Inception (Ultra Live Anthem 2019)</td>
            <a href="https://www.youtube.com/watch?v=zpOm5weuWxY">https://www.youtube.com/watch?v=zpOm5weuWxY</a>
          </tr>
          <tr>
            <td>R3HAB x Mike Williams - Lullaby </td>
            <a href="https://www.youtube.com/watch?v=9flXyzcSfT4">https://www.youtube.com/watch?v=9flXyzcSfT4</a>
          </tr>
      </tbody>
    </table>
  </div>
</aside>


<div class="background estacion">
    <div class="contenido">
      <h1>Los mejores festivales</h1>
    </div> <!--.contenido-->
</div> <!--.london-->

<div id="galeria" class="galeria">
  <h2>Solo mira PAPU :V</h2>

  <li class="imagen">
      <a href="https://ultramusicfestival.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlIe3LK9vjzDVlSnm0tw6B5GUxLAmkusxsHCHZ9gW-fCZQlwT7wQ" width="200" height="200" ></a>
  </li>
  <li class="imagen">
    <a href="https://www.tomorrowland.com/global/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfAhzIBvJnPh1850EXjU7So9MbXztZKMOE1Yd38IXWyA8rK2xvcg" width="200" height="200" ></a>
    </li>
  <li class="imagen">
    <a href="https://mexico.electricdaisycarnival.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMZ9sUx3M4oXtjF94vATI-C-Zix6d_Nrj_3M1OhYFSJnk979aGPw" width="200" height="200" ></a>
    </li>
  <li class="imagen">
    <a href="https://www.festicket.com/es/festivals/boomtown-fair/2019/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFpbvM4mM_VxyyGz44Ram1XqXnyoaWUhXzkMXS03ny6kh25ib9Rg" width="200" height="200" ></a>
    </li>
  <li class="imagen">
    <a href="https://www.awakeningsfestival.nl/en/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB-OLpzYpV61iaRht3sEoKd9xHwuQtxIZLYjGH9fdsG-9Sh4lJxw" width="200" height="200" ></a>
    </li>
  <li class="imagen">
    <a href="https://www.losalamosbeach.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmSq0lN_YQ1cQd62wkcidnPXESNqN-XhvRuJ9jTnSyLeiqf_Xu" width="200" height="200" ></a>
    </li>
  <li class="imagen">
    <a href="https://sonar.es/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwBcHfglXPn1G1ayGEOmCcUcDIZCxg6n9YRcN82XpLwFewPvKR" width="200" height="200" ></a>
    </li>
  <li class="imagen">
    <a href="https://www.hideoutfestival.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHBKyOCPJf4mRUNA4GvE-7qYPYtGyrDVnOoj1ntRFUm_7cUfzbQw" width="200" height="200" ></a>  </li>
</div>
<!--.servicios-->

  </div> <!--.container -->
</body>
<router-outlet></router-outlet>
